/* Team Member Details:
BOLLEPALLI KUSHWANTH SAI (1002156365)
CHIKKALA GANATEJA ABHISHEK (1002165367)
CHAUDHARI ADITRI NARENDRA (1002135981)
CHEEPURUPALLI PRIYANKA (1002126548)
CHATNA SUSHMITHA (1002164209) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0; 
  }
  

  .image {
    width: 50%; 
  }
  

  .formContainer {
    background-color: white;
    padding: 2rem; 
    border-radius: 0.75rem; 
    width: 50%; 
  }
  

  .heading {
    font-size: 2rem; 
    font-weight: bold;
    margin-bottom: 1.5rem; 
    text-align: center;
  }
  

  .errorMessage {
    color: #ef4444;
    margin-bottom: 1rem; 
    text-align: center;
  }
  

  .successMessage {
    color: #10b981; 
    margin-bottom: 1rem; 
    text-align: center;
  }
  

  .formGroup {
    margin-bottom: 1.5rem; 
  }
  

  .label {
    display: block;
    font-size: 0.875rem; 
    font-weight: 500; 
    color: #374151; 
  }
  

  .inputField {
    margin-top: 0.25rem; 
    display: block;
    width: 100%;
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    border: 1px solid #d1d5db; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  }
  

  .inputField:focus {
    outline: none; 
    border: 2px solid #a855f7;
    box-shadow: 0 0 0 4px rgba(168, 85, 247, 0.5); 
  }
  
  .button {
    width: 100%; 
    background-color: #7c3aed; 
    color: white;
    padding: 0.75rem; 
    border-radius: 0.5rem; 
    font-weight: 600; 
    transition: background-color 0.3s ease;
  }
  

  .button:hover {
    background-color: #6b21a8; 
  }
  

  .buttonDisabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  

  .linkContainer {
    margin-top: 1rem; 
    text-align: center;
  }
  

  .link {
    color: #7c3aed; 
    text-decoration: none;
  }
  

  .link:hover {
    text-decoration: underline;
  }
  

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 2rem; /* Adjust padding for smaller screens */
    }
  
    .image {
      width: 100%; 
      margin-bottom: 2rem;
    }
  
    .formContainer {
      width: 100%; 
    }
  
    .heading {
      font-size: 1.75rem;
    }
  
    .inputField, .button {
      font-size: 0.875rem;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      padding: 1rem; 
    }
  
    .heading {
      font-size: 1.5rem; 
    }
  
    .inputField, .button {
      font-size: 0.75rem; 
    }
  
    .image {
      display: none;
    }
  }
  