/* Team Member Details:
BOLLEPALLI KUSHWANTH SAI (1002156365)
CHIKKALA GANATEJA ABHISHEK (1002165367)
CHAUDHARI ADITRI NARENDRA (1002135981)
CHEEPURUPALLI PRIYANKA (1002126548)
CHATNA SUSHMITHA (1002164209) */

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    background-color: white;
  }
  
  .image {
    width: 50%;
  }
  
  .formContainer {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 50%;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .inputField {
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid #d1d5db;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .inputField:focus {
    outline: none;
    border-color: #a855f7;
    box-shadow: 0 0 0 4px rgba(168, 85, 247, 0.3);
  }
  
  .button {
    width: 100%;
    padding: 1rem;
    background-color: #a855f7;
    color: white;
    margin-top: 16px;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #7e22ce;
  }
  
  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .errorMessage {
    color: #ef4444;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .successMessage {
    color: #22c55e;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .link {
    text-align: center;
    color: #a855f7;
    cursor: pointer;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  