/* ConferenceCard.module.css */
.card {
    /* display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 16px; */
    flex: 0 0 auto; /* Prevent shrinking, allow cards to maintain their width */
    width: 350px; /* Set a fixed width for each card */
    border: 1px solid #6e65ec; /* Light border around the card */
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensures child elements don't overflow */
    box-shadow: 0 4px 8px #6e65ec; /* Light shadow for depth */
    margin-right: 16px; /* Space between each card */
    background-color: whitesmoke;
}

.image {
    width: 90%;
    height: auto;
    display: block; /* Treat the image as a block element */
    margin: 0 auto;
    margin-top: 0.5rem;
}

.content {
    padding: 16px;
}

.title, .description {
    word-wrap: break-word; /* Allows long words to break and wrap */
    overflow-wrap: break-word; /* Compatibility for all browsers */
    white-space: normal; /* Ensures text wraps normally */
    margin: 0 0 8px 0; /* Adds spacing between the elements */
}
.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}

.quickLinks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.link {
    text-decoration: none;
    color: #007BFF;
    font-size: 14px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.viewDetails {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}
