/* Team Member Details:
BOLLEPALLI KUSHWANTH SAI (1002156365)
CHIKKALA GANATEJA ABHISHEK (1002165367)
CHAUDHARI ADITRI NARENDRA (1002135981)
CHEEPURUPALLI PRIYANKA (1002126548)
CHATNA SUSHMITHA (1002164209) */

.notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh; 
    text-align: center;
    background-color: #f9fafb; 
}

.icon {
    margin-bottom: 1rem; 
    font-size: 2.5rem; 
    color: #ef4444; 
}

.title {
    font-size: 2.5rem; 
    font-weight: 600; 
    color: #111827; 
    margin: 0;
}
