/* Team Member Details:
BOLLEPALLI KUSHWANTH SAI (1002156365)
CHIKKALA GANATEJA ABHISHEK (1002165367)
CHAUDHARI ADITRI NARENDRA (1002135981)
CHEEPURUPALLI PRIYANKA (1002126548)
CHATNA SUSHMITHA (1002164209) */

.pageContainer {
    min-height: 100vh;
}

.imageAndTextContainer {
    display: flex;
}

.radioOption {
    display: flex;
    align-items: self-start;
    gap: 1rem;
}
.sessionImage {
    width: 66.67%;
}

.textContainer {
    width: 33.33%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.readyText, .bestText {
    text-align: center;
    margin-bottom: 17px;
}

.titleText {
    font-size: 1.25rem; 
}

.taglineText {
    font-size: 0.875rem;
    font-weight: 300; 
    text-align: center;
    margin-bottom: 1.5rem; 
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.attendButton {
	background-color: #6b46c1; 
    color: white;
    padding: 0.75rem 1.5rem; 
    border-radius: 9999px; 
    width: auto; 
    max-width: 100%; 
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-size: 1rem; 
    white-space: normal; 
    display: inline-block;
}

/* Hover effect */
.attendButton:hover {
    background-color: #553c9a; 
}

.recordedSessionsSection {
    padding: 2rem; 
}

.sectionTitle {
    font-size: 1.5rem; 
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.5rem; 
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 2rem; 
}

.sessionCard {
    position: relative;
    background-color: white;
    border-radius: 0.75rem; 
    overflow: hidden;
}

.sessionTitle {
    position: absolute;
    top: 0.75rem; 
    left: 1rem;
    right: 1rem;
    color: white;
    text-align: center;
    font-size: 1.125rem; 
    font-weight: 600; 
}

.video {
    width: 100%;
    height: 13rem;
    object-fit: cover;
    border-radius: 0.75rem; 
}

.recordedDate {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    color: #e5e7eb; 
    font-size: 0.75rem; 
    font-weight: 300; 
    text-align: center;
}

@media (max-width: 480px) {
    .attendButton {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
        width: 80%; 
        line-height: 1.2; 
    }

	.attendButton span {
        display: block; 
    }
	
    .buttonContainer {
        justify-content: center;
        align-items: center;
    }
}
